@using WebApplication.Models

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>

}
@model WebApplication.Models.StudentsViewModel

@{
    ViewBag.Title = "Add";
}
<head>
    <title>Student Registration Form</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>Formular inscriere Studenti</h3>

    <form method="get" action="www.google.com">
        <table align="center" cellpadding="10">

            <!----- First Name ---------------------------------------------------------->
            <tr>
                <td>Prenume</td>
                <td>
                    @Html.TextBox("Prenume", "Prenume Student", new { @class = "form-control" })
                    (max 30 caractere a-z/A-Z)
                </td>
            </tr>

            <!----- Last Name ---------------------------------------------------------->
            <tr>
                <td>Nume</td>
                <td>
                    @Html.TextBox("Nume", "Nume Student", new { @class = "form-control" })
                    (max 30 caractere a-z/A-Z)
                </td>
            </tr>

            <!----- Date Of Birth -------------------------------------------------------->
            <tr>
                <td>Data Nasterii</td>
                <td>
                    @Html.EditorFor(model => model.DataNasterii,
new { htmlAttributes = new { @class = "form-control date-picker" } })

                </td>

            </tr>

            <!----- Email Id ---------------------------------------------------------->
            <tr>
                <td>E-mail</td>
                <td>
                    @Html.Editor("Email") <br />
                    @Html.ValidationMessage("Email", "", new { @class = "email" })
                </td>
            </tr>

            <!----- Mobile Number ---------------------------------------------------------->
            <tr>
                <td>Telefon</td>
                <td>
                    @Html.Editor("Telefon") <br />
                    @Html.ValidationMessage("Telefon", "", new { @class = "tel" })
                </td>
            </tr>

            <!----- Gender ----------------------------------------------------------->
            <tr>
                <td>Sex</td>
                <td>
                    M @Html.RadioButtonFor(m => m.Sex, "Masculin")
                    F @Html.RadioButtonFor(m => m.Sex, "Feminin")
                </td>
            </tr>

            <!----- Address ---------------------------------------------------------->
            <tr>
                <td>Adresa <br /><br /><br /></td>
                <td>
                    @Html.TextArea("Adresa", "", new { @class = "form-control" })
                </td>

            </tr>

            <!----- City ---------------------------------------------------------->
            <tr>
                <td>Oras</td>
                <td>
                    @Html.TextBox("Oras", "", new { @class = "form-control" })
                    (max 30 caractere)
                </td>
            </tr>

            <!----- Pin Code ---------------------------------------------------------->
            <tr>
                <td>Cod Postal</td>
                <td>
                    @Html.TextBox("Cod Postal", "", new { @class = "form-control" })
                    (max 6 caractere)
                </td>
            </tr>

            <!----- State ---------------------------------------------------------->
            <tr>
                <td>Judet</td>
                <td>
                    @Html.TextBox("Judet", "", new { @class = "form-control" })
                </td>
            </tr>

            <!----- Country ---------------------------------------------------------->
            <tr>
                <td>Tara</td>
                <td><input type="text" name="Country" value="Romania" readonly="readonly" /></td>
            </tr>

            <!----- Hobbies ---------------------------------------------------------->

            <tr>
                <td>Hobby-uri <br /><br /><br /></td>

                <td>
                    Desenat
                    <input type="checkbox" name="Hobby_Drawing" value="Drawing" />
                    Cantat
                    <input type="checkbox" name="Hobby_Singing" value="Singing" />
                    Pescuit
                    <input type="checkbox" name="Hobby_Dancing" value="Dancing" />
                    Dans
                    <input type="checkbox" name="Hobby_Cooking" value="Cooking" />
                    <br />
                    Altele
                    <input type="checkbox" name="Hobby_Other" value="Other">
                    <input type="text" name="Other_Hobby" maxlength="30" />
                </td>
            </tr>

            <!----- Qualification---------------------------------------------------------->
            <tr>
                <td>Limbi Straine <br /><br /><br /><br /><br /><br /><br /></td>

                <td>
                    <table>

                        <tr>
                            <td align="center"><b>Nr. Criteriu</b></td>
                            <td align="center"><b>Limba staina</b></td>
                            <td align="center"><b>Vorbit</b></td>
                            <td align="center"><b>Scris</b></td>
                            <td align="center"><b>Citit</b></td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>Engleza</td>
                            <td><input type="text" name="Engleza_Vorbit" maxlength="30" /></td>
                            <td><input type="text" name="Engleza_Scris" maxlength="30" /></td>
                            <td><input type="text" name="Engleza_Citit" maxlength="30" /></td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Franceza</td>
                            <td><input type="text" name="Franceza_Vorbit" maxlength="30" /></td>
                            <td><input type="text" name="Franceza_Scris" maxlength="30" /></td>
                            <td><input type="text" name="Franceza_Citit" maxlength="30" /></td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Germana</td>
                            <td><input type="text" name="Germana_Vorbit" maxlength="30" /></td>
                            <td><input type="text" name="Germana_Scris" maxlength="30" /></td>
                            <td><input type="text" name="Germana_Citit" maxlength="30" /></td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Spaniola</td>
                            <td><input type="text" name="Spaniola_Vorbit" maxlength="30" /></td>
                            <td><input type="text" name="Spaniola_Scris" maxlength="30" /></td>
                            <td><input type="text" name="Spaniola_Citit" maxlength="30" /></td>
                        </tr>


                    </table>

                </td>
            </tr>

            <!----- Submit and Reset ------------------------------------------------->
            <tr>
                <td colspan="2" align="center">
                    <button type="submit">Submit</button>
                    <button type="reset" value="Reset" action=clear>Reset</button>
                </td>
            </tr>
        </table>

    </form>

</body>

