@model WebApplication.Models.StudentsViewModel

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Details for: @Model.Nume @Model.Prenume</h4>
        <h3></h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nume)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nume)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Prenume)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Prenume)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataNasterii)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataNasterii)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefon)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefon)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Adresa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adresa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Oras)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Oras)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CodPostal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CodPostal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Judet)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Judet)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
